/* 
                                            ESTO ES PAGIA PRINCIPALLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL
*/

$color-nav: rgb(231, 144, 109);
$color-blanco: white;
$color-negro:black;
$color-gris:rgb(2, 2, 2);
$color-productos:rgb(230, 4, 4);
$color-producto2:rgb(240, 36, 36);
$color-aquaH2:rgb(37, 209, 143);
$color-textoEmpanadas:chocolate;
$color-main-gris:rgb(22, 22, 22);
$background-color-sucursal:rgba(218, 195, 153, 0.904);
$texto-centrado:center;
$display-flex:flex;
$flex-column:column;
$justify-content-space-around:space-around;
$justify-content-center:center;
$align-item-center:center;
$align-content-center:center;

/*   map */
$productos: (
    text: center,
    color: rgb(230, 4, 4),
    pading: 15px,
)